.link {
  background: #eae7e7;
  font-size: 1.2rem;
  width: 100vw;
  padding: 0.6rem;
  font-weight: 600;
  p {
    max-width: 1200px;
    margin: auto;
  }
  a {
    margin-left: 1rem;
    font-weight: normal;
  }
}
